@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  min-width: fit-content;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Navbar link style */
.nav-link {
  color: #ffffff; /* Default link color */
  transition: color 0.3s ease-in-out; /* Transition for link color */
}

/* .experience-words {
  border-left: 1px solid #706f6f;
  height: 45%;
} */
.experience-words::before {
  color: #706f6f;
  content: "<h3>";
  margin-bottom: 5px;
  margin-left: -20px;
  display: block;
}
.experience-words::after {
  color: #706f6f;
  content: "</h3>";
  margin-top: 5px;
  margin-left: -20px;
  display: block;
}

html {
    scroll-behavior: smooth;
}

.scrolled {
    background-color: #131212;
    opacity: 95%;
}
